@font-face {
    font-family: 'SaCrayonHandwriting';
    src: url('fonts/SaCrayonHandwriting-Regular2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DonelliaDemoRegular';
    src: url('fonts/DonelliaDemoRegular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 15px;
    min-height: 100vh;
    overflow-x: hidden;
    cursor: url("./resources/cursor.png") 0 0, default;
}

.piano-container {
    position: relative;
    width: 90%;
    min-width: 600px;
    margin: 1rem auto;
}

.piano-img {
    width: 100%;
    height: auto;
    display: block;
}

.key-overlay {
    position: absolute;
    cursor: url("./resources/cursor.png") 0 0, auto;
    border-radius: 0 0 4px 4px;
}

#tooltip {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    pointer-events: none;
    z-index: 1000;
    white-space: normal;
}

h1 {
    font-family: 'DonelliaDemoRegular', serif;
    font-size: 4em;
    /* Custom size for main title [23, 24] */
}


.coming-soon-regular {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
}

h2,
h3,
p, li {
font-family: "Arial", monospace;    font-size: 1em;
    /* Custom size for main title [23, 24] */
}